<footer *ngIf="foot.visible" id="footer">


    <div class="flex-footer">
    <div class="footer-tablebox"> 
    <div class="footer-headline">Get To Know Us</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
    <li><a href="#!">Jobs</a></li>
    <div class="footer-seperator"></div>
    <li><a routerLink="/About" routerLinkActive="active" ariaCurrentWhenActive="page">About Barber Faith</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Events </a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Sermons</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Appointments</a></li>
    <div class="footer-seperator"></div>
    </ul>
    </div>
    <!--first tablebox stops here-->
    <div class="footer-tablebox"> 
    <div class="footer-headline">Make Money</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
    <li><a href="#!">Advertise Your Shop</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Donate</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">BarberFaith Ads </a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Finacial Advisors</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">BarberFaith Store</a></li>
    <div class="footer-seperator"></div>
    </ul>
    </div>
    <!--seconds tablebox stops here-->
    <div class="footer-tablebox"> 
    <div class="footer-headline">Help Center</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
    <li><a href="#!">Using BarberFaith</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Help</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Privacy Policy </a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Refund Policy</a></li>
    <div class="footer-seperator"></div>
    <li><a routerLink="/Contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a></li>
    <div class="footer-seperator"></div>
    </ul>
    </div>
    <!--third tablebox stops here-->
    </div>
    
    
    <p style="color: #fff; text-align: center;">
    &#169; Barberfaith or its affiliated companies. All rights reserved. 
    </p>
    
    <div class="footer-logo-box">
    <a onclick="window.scrollTo(0, 0);" class="logo-footer" style="color: #fff;">
    <img src="./assets/img/belief_logo.png" alt="this is the Barber Faith logo">
    </a>
    </div>
    </footer>
