<div class="barber-container">
    <img class="barber-about" title="barber" loading="lazy" src="../../assets/img/bg-a.jpeg"  alt="picture of poverty">
    </div>
    
    <section class="about-section" >
    <h1 class="about-headline-text">About Barber Faith</h1>
    <p>Our Barber Shop specializes in Modern-day, cutting-edge barbering to the 
    finest degree. We offer a masssive assortment of stylish <br>
    hair-cuts that are guarenteed to turn heads.
    </p>
    </section> 
    
    <div class="barber-flex">
    <img  class="barber-img-flex" src="../../assets/img/bg-c.jpg" alt="">   
    <img  class="barber-img-flex" src="../../assets/img/bg-d.jpeg" alt="">   
    <img  class="barber-img-flex" src="../../assets/img/bg-g.jpeg" alt="">   
    </div>
    <!--barber about stops here-->
    
    <hr>
    
    <!--poverty about stops here-->
    <div class="poverty-container">
    <img class="poverty-about"  title="poverty" src="../../assets/img/bg-p.jpeg"  alt="picture of poverty">
    </div>
    
    <section class="about-section" >
    <h1 class="about-headline-text">About Our Mission</h1>
            
    <p> We have a mission to help those in need and 
    most of the funds we make from our barber shop
    helps our mission. Many people around the world lack access to water and
    electricity. Our mission is to change that and eliminate poverty
    once and for all. <br> 
    <span><a style="font-size: 35px;color: goldenrod;cursor: pointer;" (click)="gotomission()">Please Help US!</a></span>
    </p>
    </section> 
