<div *ngIf="nav.visible" class="bg-nav">
    <nav class="navbar">
    <div class="logo">
    <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img src="../../assets/img/barber_faith_logo.png" alt="this is the logo">
    </a>
    </div>
            
    <ul id="navlink" class="navlinks">
    <li><a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/Mission" routerLinkActive="active" ariaCurrentWhenActive="page">Mission</a></li>
    <li><a routerLink="/About" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    <li><a routerLink="/Contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
    </ul>
    </nav>
    
    
    <div class="header-container">
    <h1 class="header-text">A quality hair cut <br> at a fair price.</h1>
    </div>
    
    <div class="flex-prices">
    <p>$12 Regular Haircut</p>
    <p>$15 Haircut + Beard</p>
    <p>$18 Fade</p>
    <p>$21 Eyebrows</p>
    <p>$24 Designs</p>
    </div>
    </div>
    <!--nav stops-->
    
    