<section class="contact-section" id="contact">
    <div style="text-align: center;">
    <h1 class="contact-headline-text" >Contact Us</h1>
    
    <p style="font-size: 20px;line-height:1rem;color: #000;text-align: center;">
    <a href="tel:1-800-668-1249" style="color: #b19249;">1-800-668-1249</a> / info@email.com</p>
    
    <span class="contact-address">2500 N River Rd, Manchester, NH 03106</span>
    
    
    <div class="contact-box" >
        
    <form action="">
    <label for="fname">First Name</label>
    <input type="text" name="" id="fname">
    <label for="lname">Last Name</label>
    <input type="text" name="" id="lname">
    <label for="email">Email</label>
    <input type="text" name="" id="email">
    <label for="subject">Subject</label>
    <input type="text" name="" id="subject">
        
    <label for="message">Message</label>
    <textarea style="margin-bottom: 3rem;resize: none;height: 180px;" type="text" name="" id="message" rows="4" cols="50" ></textarea>
    
    <button class="contact-btn"><a href="#!">Submit</a></button>
    </form>  
        
    </div>
    </div>
    </section>
