<div id="mission" class="bg-slum">
    <h1 class="header">lets make poverty <br> a thing of the past.</h1>
    </div>
    
    <main>
    <div style="margin-bottom: 3em;" class="card">
    <div class="gl">Give</div>
    
    <div class="card-text">
    
    <div class="sub-text-container">
    <h1 style="font-size: 44px;text-align: center;">Help Those In Need</h1>
    <p class="subtext">
    “Whoever is generous to the poor lends to the Lord,
    and he will repay him for his deed.” <br>
    </p>
    
    <p style="font-size: 18px;text-align: center;">[Proverbs 19:17]</p>
    
    
    <button (click)="gotodonate()" class="donate-btn">Donate</button>
    </div>
    
    
    
    
    </div>
    </div>
