<section>
    <div class="bl">Barber</div>
    <div class="card-text">
    
    <p class="subtext">
    Here at Barber Faith, we pride ourselves on giving 
    quality hair cuts. Our objective and commitment, 
    is to present an encounter that addresses the 
    entirety of the first components of Barbering, 
    giving you a genuine touch with the right tools.</p>
        
         
        
    </div>
    </section>


    <section class="fixed-bg">
        <div class="row">
                  
                
        <div class="address-title">
        <h1 style="color: #fff;text-align: center;font-size: xx-large;border-bottom: solid 2px #fff;">Atlanta, GA</h1>
        
        <ul class="open-time">
        
        <!--monday block starts here-->
        <li class="days-block">
        <div class="days-day">
        <a >Mon</a>
        </div>
        <div class="days-hours">9:AM to 5:PM</div>
        </li>
        <!--monday block stops here-->
        
        <!--tuesday block starts here-->
        <li class="days-block">
        <div class="days-day">
        <a >TUE</a>
        </div>
        <div class="days-hours">9:AM to 5:PM</div>
        </li>
        <!--tuesday block stops here-->
        
        
        
        <!--wednesday block starts here-->
        <li class="days-block">
        <div class="days-day">
        <a >WED</a>
        </div>
        <div class="days-hours">9:AM to 3:PM</div>
        </li>
        <!--wednesday block stops here-->
        
        <!--thurday block starts here-->
        <li class="days-block">
        <div class="days-day">
        <a >THUR</a>
        </div>
        <div class="days-hours">9:AM to 5:PM</div>
        </li>
        <!--thursday block stops here-->
        
        
        <!--friday block starts here-->
        <li class="days-block">
        <div class="days-day">
        <a >FRI</a>
        </div>
        <div class="days-hours">9:AM to 5:PM</div>
        </li>
        <!--friday block stops here-->
        
        
        <!--saturday block starts here-->
        <li class="days-block">
        <div class="days-day">
        <a >SAT</a>
        </div>
        <div class="days-hours">12:AM to 5:PM</div>
        </li>
        <!--saturday block stops here-->
        
        
        <!--sunday block starts here-->
        <li class="days-block">
        <div class="days-day">
        <a >SUN</a>
        </div>
        <div class="days-hours">Closed</div>
        </li>
        <!--sunday block stops here-->
        
        </ul>
        </div>
        </div>   
        
        </section>

